<section class="cls-info-container">
    <div class="cls-title-container">
        <P id="TitleHeader">障害者情報</p>
        <p id="PersonNumberId">
            <button class="cls-action-function">国人番号表示</button>
            <span>宛名番号: {{ person.mailAddressNo }}</span>
            <span>世帯番号: {{ person.familyId }}</span>
            <span>履歴数: 新規/{{ person.noOfHistory }}</span>
        </p>
    </div>

    <div class="cls-person-info-table-container">
        <table id="PersonInfoTable">
            <tbody>
                <tr>
                    <th rowspan="2" colspan="2">氏名</th>
                    <td colspan="3">{{ person.personNameKana }}</td>
                </tr>

                <tr>
                    <td colspan="3">{{ person.personNameKanji }}</td>
                </tr>
                
                <tr>
                    <th rowspan="3">住所</th>
                    <th>カナ</th>
                    <td colspan="3">{{ person.diseaseInfo }}</td>
                </tr>

                <tr>
                    <th>漢字</th>
                    <td colspan="3">{{ person.personAddress }}</td>
                </tr>

                <tr>
                    <th>方書</th>
                    <td colspan="3">{{ person.diseaseInfo }}</td>
                </tr>

                <tr>
                    <th colspan="2">生年月日</th>
                    <td>{{ person.personBD }}</td>
                    <th>統柄</th>
                    <td class="cls-dropdown-menu-container">
                        {% include 'component/DropdownMenu.html' with menu_type=menu_item.relationship data_id=person.relationshipId data_type=person.relationshipType %}
                    </td>
                </tr>

                <tr>
                    <th colspan="2">職業</th>
                    <td class="cls-dropdown-menu-container">
                        {% include 'component/DropdownMenu.html' with menu_type=menu_item.jobcategory data_id=person.jobID data_type=person.jobType %}
                    </td>
                    <th>電話番号</th>
                    <td><input value="{{ person.phoneNo }}"></td>
                </tr>
            </tbody>
        </table>

        <table id="PersonNumberTable">
            <tbody>
                <tr>
                    <th colspan="2">手帳番号</th>
                    <td colspan="6"><input value="{{ person.ticketNumber }}"></td>
                </tr>

                <tr>
                    <th colspan="2">交付日</td>
                    <td colspan="2"><input value="{{ person.issueDate }}"></td>
                    <th>ケース番号</th>
                    <td colspan="2"><input value="{{ person.caseNumber }}"></td>
                    <td>
                        <button class="cls-disable-button">最新取得</button>
                    </td>
                </tr>
                
                <tr>
                    <th id="Chk">CHK</th>
                    <th id="Injury" colspan="2">原傷病名</th>
                    <th id="Disability" colspan="3">障害部位及び程度</b></th>
                    <th id="Chronic" colspan="2">陳古区分</th>
                </tr>

                <tr>
                    <td id="EmptyBox" colspan="8"></td>
                </tr>

                <tr>
                    <th colspan="2">難病情報</th>
                    <td colspan="6"><input value="{{ person.diseaseInfo }}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>