<section class="cls-info-container">
    <div class="cls-title-container">
        <P id="TitleHeader">障害者情報</p>
        <p id="PersonNumberId">
            <button class="cls-action-function">国人番号表示</button>
            <span>宛名番号: {{ person.mailAddressNo }}</span>
            <span>世帯番号: {{ person.familyId }}</span>
            <span>履歴数: 新規/{{ person.noOfHistory }}</span>
        </p>
    </div>

    <div class="cls-person-info-table-container">
        <table id="PersonInfoTable">
            <tbody>
                <tr>
                    <th rowspan="2" colspan="2">氏名</th>
                    <td colspan="3">{{ person.personNameKana }}</td>
                </tr>

                <tr>
                    <td colspan="3">{{ person.personNameKanji }}</td>
                </tr>
                
                <tr>
                    <th rowspan="3">住所</th>
                    <th>カナ</th>
                    <td colspan="3">{{ person.diseaseInfo }}</td>
                </tr>

                <tr>
                    <th>漢字</th>
                    <td colspan="3">{{ person.personAddress }}</td>
                </tr>

                <tr>
                    <th>方書</th>
                    <td colspan="3">{{ person.diseaseInfo }}</td>
                </tr>

                <tr>
                    <th colspan="2">生年月日</th>
                    <td><input value="{{ person.personBD }}"></td>
                    <th>統柄</th>
                    <td>
                        <input class="cls-txt-id-number" value="{{ person.relationshipId }}">
                        <span>{{ person.relationshipType }}</span>
                    </td>
                </tr>

                <tr>
                    <th colspan="2">職業</th>
                    <td>
                        <input class="cls-txt-id-number" value="{{ person.jobID }}">
                        <span>{{ person.jobType }}</span>
                    </td>
                    <th>電話番号</th>
                    <td><input value="{{ person.phoneNo }}"></td>
                </tr>
            </tbody>
        </table>

        <table id="PersonNumberTable">
            <tbody>
                <tr>
                    <th colspan="2">手帳番号</th>
                    <td colspan="12"><input value="{{ person.ticketNumber }}"></td>
                </tr>

                <tr>
                    <th colspan="2">交付日</td>
                    <td colspan="3"><input value="{{ person.issueDate }}"></td>
                    <th colspan="3">ケース番号</th>
                    <td colspan="3"><input value="{{ person.caseNumber }}"></td>
                    <td class="cls-empty-background" colspan="3">
                        <button class="cls-disable-button">最新取得</button>
                    </td>
                </tr>
                
                <tr>
                    <th colspan="1">CHK</th>
                    <th colspan="2">原傷病名</th>
                    <th colspan="6">障害部位及び程度</td>
                    <th colspan="5">陳古区分</td>
                </tr>

                <tr>
                    <td id="EmptyBox" colspan="14"></td>
                </tr>

                <tr>
                    <th colspan="2">難病情報</th>
                    <td colspan="12"><input value="{{ person.diseaseInfo }}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>