{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static  'css/second-page.css'%}" />
    <link rel="stylesheet" href="{% static  'css/invalid-id-page.css'%}" />
  </head>
  <body>
    <main>
      <div id="ErrorMessage">
        <h1>INVALID PERSONID</h1>
        <br />

        <h2>--> Please enter a personID:</h2>
        <input
          type="text"
          id="personID"
          placeholder="Enter personID (e.g., P00001)"
        />
        <br /><br />
        <a id="personLink" href="{% url 'secondpage' %}?personID="
          >Click here to go</a
        >
        <br />
        <br />
        <h2>
          --> OR <a href="{% url 'home' %}">Click here to go back HomePage</a>
        </h2>
      </div>
    </main>

    <script src="{% static 'js/input-id.js' %}"></script>
  </body>
</html>
