* {
  font-size: 25px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 30px 40px;
}

a {
  text-decoration: none;
  color: rgb(255, 158, 67);
}

h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}

h2 {
  display: inline;
}

p {
  display: inline;
}
